$primary-text: #13182C; //black
$primary-interactive: #2E66E5; //indigo
$primary-white: #FFFFFF; //white

$secondary-header-placeholder: #5C667E; //dark gray
$secondary-borders: #BDC5D5; //light gray

$background-header: #232940; //graphite
$background-page: #F7F8F9; // very light gray

$supporting-instock: #158463; //green 
$supporting-error: #C94515; // red
